<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8" />
      <title>Blog</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
<body>
  <header>
    <h1><%= title %></h1>
  </header>
  <nav>
    <span><a title="主页" href="/">主页</a></span>
    <%if (user){%>
    <span><a title="上传" href="/upload">文件上传</a></span>
    <span><a title="发表" href="/post">发表</a></span>
    <span><a title="退出" href="/logout">退出</a></span>
    <%}else{%>
    <span><a title="登录" href="/login">登录</a></span>
    <span><a title="注册" href="/reg">注册</a></span>
    <%}%>
  </nav>
  <article>
    <% if (success) { %>
    <div><%= success %></div>
    <% } %>
    <% if (error) { %>
    <div><%= error %> </div>
    <% } %>