<%- include header %>
<form method="post" action="/post">
  标题：<br/><input type="text" name="title"/><br />
  内容：<br/> <textarea name="content" rows="20" cols="100" ></textarea> <br />
  <input type="submit" value="发表"/>
</form>
<%- include footer %>